body.dark-mode {
    background-color: #121212;
    /* color: #e5e5e5; */
    color: #fff;
  }
  
  body.dark-mode .card {
    background-color: #1e1e1e;
 /* color: #e5e5e5; */
    color: #fff;
    border: none;
  }
  
  body.dark-mode .card:hover {
    box-shadow: 0 4px 18px rgba(255, 255, 255, 0.05);
  }
  
  body.dark-mode .table {
    background-color: #1e1e1e;
    color: #e5e5e5;
  }
  
  body.dark-mode .btn {
    border-color: #3b82f6;
  }
  